
<ul class="list-style" data-bind="fadeVisible: listStyle">
    <!-- ko foreach: examsList -->
    <li class="student-list-style" data-bind="attr: { class: 'exam_' + id_exam } , css:{ 'pass': $parent.isExamPass(mark), 'not-pass': !$parent.isExamPass(mark) }"><span class="firstname" data-bind="text: firstname"></span> <span class="lastname" data-bind="text: lastname"></span> <span class="mark" data-bind="fadeVisible: $parent.marksVisible, text: mark"></span> <i class="highest-mark fas fa-medal hidden"></i></li>
    <!-- /ko -->
    <li class="average-info"><span data-bind="i18n: 'Average Students:'"></span> <span data-bind="text: averageMarkStudents"></span></li>
</ul>
<table class="table-style" data-bind="fadeVisible: tableStyle">
    <thead>
    <td><span data-bind="i18n: 'Firstname'"></span></td>
    <td><span data-bind="i18n: 'Lastname'"></span></td>
    <td class="col-mark" data-bind="fadeVisible: marksVisible"><span data-bind="i18n: 'Mark'"></span></td>
    </thead>
    <tbody data-bind="foreach: examsList">
    <tr data-bind="attr: { class: 'exam_' + id_exam } , css:{ 'pass': $parent.isExamPass(mark), 'not-pass': !$parent.isExamPass(mark) }">
        <td class="col"><span class="firstname" data-bind="text: firstname"></span></td>
        <td class="col"><span class="lastname" data-bind="text: lastname"></span></td>
        <td class="col col-mark" data-bind="fadeVisible: $parent.marksVisible"><span class="mark" data-bind="text: mark"></span></td>
        <td class="col text-center"><i class="highest-mark fas fa-medal hidden"></i></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><span data-bind="i18n: 'Average Students:'"></span></td>
        <td><span data-bind="text: averageMarkStudents"></span></td>
    </tr>
    </tfoot>
</table>

<div class="pag">
    <div class="pagination-previous" data-bind="fadeVisible: currentOption() !== 1">
        <span data-bind="click: Previous"><i class="fas fa-angle-double-left"></i></span>
    </div>
    <div class="exams-pagination" data-bind="foreach: totalPages">
        <span class="pagination"
              data-bind="{
                click: $parent.getExamsPaginated,
                text: $data,
                attr: {
                    id: 'page-' + $data
                },
                css: $parent.CurrentPage() === $data ? '_active' : '' }"
              style="cursor: pointer; padding: 5px; ">
        </span>
    </div>
    <div class="pagination-next" data-bind="fadeVisible: currentOption() < totalOptions()">
        <span data-bind="click: Next"><i class="fas fa-angle-double-right"></i></span>
    </div>
</div>

<div class="actions">
    <span class="hide-marks-action" data-bind="click: showOrHideStudentsMark">
        <i data-bind="attr: { class: iconButtonActionText() }" class="fas fa-eye-slash"></i>
        <span data-bind="text: buttonActionText"></span>
    </span>
    <span class="icon-table" data-bind="fadeVisible: listStyle, click: changeToTableStyle">
        <i class="fas fa-table"></i>
        <span data-bind="i18n: 'Table Style'"></span>
    </span>
    <span class="icon-list" data-bind="fadeVisible: tableStyle, click: changeToListStyle">
        <i class="fas fa-list"></i>
        <span data-bind="i18n: 'List Style'"></span>
    </span>
    <span class="icon-highest-note" data-bind="click: getHighestNote">
        <i class="fas fa-medal"></i>
        <span data-bind="i18n: 'Highest note'"></span>
    </span>
</div>

<div class="student-highest-mark-info" data-bind="fadeVisible: highestMarkSection, afterRender: getMostHighestMarks()">
    <div class="header">
        <h3 class="title" data-bind="i18n: 'Highest mark'"></h3>
        <span class="hide-section" data-bind="click: hideHighestMarkSection"><i class="fas fa-times"></i></span>
    </div>
    <span class="subtitle" data-bind="text: studentWithHighestMark"></span>
</div>
