<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hiberus\Lopez\Api\Data\HiberusExamsInterface"             type="Hiberus\Lopez\Model\HiberusExams" />
    <preference for="Hiberus\Lopez\Api\ExamManagementInterface"                type="Hiberus\Lopez\Model\ExamManagement" />
    <preference for="Hiberus\Lopez\Api\Data\HiberusExamsSearchResultInterface" type="Hiberus\Lopez\Model\ExamsSearchResult" />
    <preference for="Hiberus\Lopez\Api\Data\HiberusExamsParseCsvInterface"     type="Hiberus\Lopez\Model\HiberusExamsParseCsv" />
    <preference for="Hiberus\Lopez\Api\HiberusExamsRepositoryInterface"        type="Hiberus\Lopez\Model\HiberusExamsRepository" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hiberus_lopez_command_view_students" xsi:type="object">Hiberus\Lopez\Console\Command\ViewStudentsExams</item>
            </argument>
        </arguments>
    </type>

<!--    <type name="Hiberus\Lopez\Ui\DataProvider\Exams\ListingDataProvider">
        <plugin name="students_grid_exams_attributes" type="Hiberus\Lopez\Plugin\AddAttributesToUiDataProvider"/>
    </type>-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="students_grid_exams_listing_data_source" xsi:type="string">StudentsGridExamsCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="StudentsGridExamsCollection" type="Hiberus\Lopez\Ui\DataProvider\Exams\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">hiberus_exam</argument>
            <argument name="resourceModel" xsi:type="string">Hiberus\Lopez\Model\ResourceModel\HiberusExams</argument>
        </arguments>
    </virtualType>
</config>
