<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hiberus_Lopez::menu"
             title="Hiberus Lopez"
             module="Hiberus_Lopez"
             sortOrder="51"
             resource="Hiberus_Lopez::configurateModule"/>
        <add id="Hiberus_Lopez::cron"
             title="Configurate Cron"
             module="Hiberus_Lopez"
             sortOrder="10"
             action="adminhtml/system_config/edit/section/hiberus_modules_cron"
             resource="Hiberus_Lopez::cron"
             parent="Hiberus_Lopez::menu"
        />
        <add id="Hiberus_Lopez::configuration_general"
             title="Configuración general"
             module="Hiberus_Lopez"
             sortOrder="10"
             action="adminhtml/system_config/edit/section/hiberus_modules_general_config_section"
             resource="Hiberus_Lopez::configuration_general"
             parent="Hiberus_Lopez::menu"
        />
        <add id="Hiberus_Lopez::import_students"
             title="Importar Notas de Alumnos"
             module="Hiberus_Lopez"
             sortOrder="12"
             action="adminhtml/system_config/edit/section/hiberus_modules_import_students"
             resource="Hiberus_Lopez::configuration_general"
             parent="Hiberus_Lopez::menu"
        />
    </menu>
</config>
