<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="hiberus_lopez_cron" frontName="hiberus_cron">
            <module name="Hiberus_Lopez" />
        </route>
        <route id="students_grid" frontName="students_grid">
            <module name="Hiberus_Lopez" before="Magento_Backend" />
        </route>
    </router>
</config>
